body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: linear-gradient(rgba(76, 153, 84, 0.534), rgba(159, 200, 146, 0.61)),url(../pics/bats.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



#sidebar {
    text-align: center;
    width: 385px;
    background-color: #fff; /* Background color for the sidebar */
    color: #fff;
    position: fixed;
    height: 100%;
    transition: all 0.5s ease;
    overflow-y: auto; /* Add scroll when content overflows */
}

.sidebar.open {
    width: 250px;
  }

#sidebar header {
    text-align: center;
    padding: 18px;
    margin-bottom: 10px;
    background-color: #0E6634;
}

.logo-list {
    list-style-type: none;
    padding: 0;
    background-color: #0E6634;
    
}

.logo-item {
    display: inline-block;
    margin-right: 10px;
    background-color: #0E6634;
    
    
}

.logo-list img {
    width: 70px; /* Set the width of the logos */
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin-top: 90px;
    
}

.nav-list li {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;

}

.nav-list li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    color: #000000;
    text-decoration: none;
}

.nav-list li a:hover {
    background: #45a049; /* Change the background color on hover */
    color: #fff; /* Change the text color on hover */
}

.nav-list li.active a {
    background: #4CAF50; /* Change the background color when the link is active */
    text-decoration: none; /
}




#content {
    margin-left: 365px; /* Adjust the margin to make content align with the sidebar */
    padding: 20px;
    
}

#content header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#content header h1 {
    font-size: 24px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-top: 0;
}

.dashboard{
    font-size: 38.5px;
    color: #333;
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: -60px;
    color: #0E6634;

}
.bat{
    margin-top: 20px;
    margin-bottom: 0;
}

.evaluate-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 50px 20px -20px rgba(0, 0, 0, 0.5); /* Add shadow below the box */
    width: 400px; /* Make the login box wider */
    position: relative; /* Enable relative positioning */
    top: 250px; /* Move the login container up by adjusting the 'top' property */
    left: 300px;
    height: 200px;
    
}

.user-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 50px 20px -20px rgba(0, 0, 0, 0.5); /* Add shadow below the box */
    width: 900px; /* Make the login box wider */
    position: relative; /* Enable relative positioning */
    top: 100px; 
    left: 85px;
    height: 500px;
    margin-bottom: 15px;
    display: flex;
    
}





.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:15px;
 }

 flex .inputBox{
    width: 49%;
 }
.appealing-button {
    background-color: #0E6634;
    color: #fff;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-decoration: none;
}

.appealing-button:hover {
    background: linear-gradient(45deg, #45a049, #4CAF50);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.appealing-button2 {
    background-color: #0E6634;
    color: #fff;
    border: none;
    padding: 19px 80px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-decoration: none;
}
.appealing-button2:hover {
    background: linear-gradient(45deg, #45a049, #4CAF50);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.appealing-button3 {
    background: linear-gradient(45deg, #4CAF50,#0E6634);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-decoration: none;
    
}
.appealing-button3:hover {
    background: linear-gradient(45deg, #45a049, #4CAF50);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add styles for the search bar */
.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.search-container input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.search-container button:hover {
    background: #45a049;
}


nav {
    color: #fff;
    background-color: #23642c;
    font-family: 'Noto Sans Georgian', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left {
    font-family: 'Noto Sans Georgian', sans-serif;
    flex: 1;
}

.left p {
    margin: 0;
}

.center {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logos horizontally */
    width: 100%; /* Ensure the container takes up the full width */
}

.logo-container img {
    width: 50px; /* Adjust the width as needed */
    margin: 0 5px; /* Adjust the margin for spacing between logos */
}

.right {
    flex: 1;
    text-align: right;
}

.right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right li {
    display: inline;
    margin-right: 20px;
}

.right a {
    text-decoration: none;
    color: #fff;
}

.personal{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 50px 20px -20px rgba(0, 0, 0, 0.5); /* Add shadow below the box */
    width: 900px; /* Make the login box wider */
    position: relative; /* Enable relative positioning */
    top: 100px; 
    left: 85px;
    height: 500px;
    margin-bottom: 15px;
    display: flex;

}


